@{
    ViewData["Title"] = "Hồ sơ cá nhân";
}

@model UserModel

@{
    int? userID = Context.Session.GetInt32("UserID");
}

@if (Model != null)
{
    <div class="row justify-content-center">
        <div class="col-9 col-md-9 col-lg-6 mt-5">
            <p class="h4"> Thông tin hồ sơ</p>
            <div class="row d-flex align-items-center mb-3">
                <div class="col-4">Họ tên:</div>
                <div class="col-8">@Model.FullName</div>
            </div>
            <div class="row d-flex align-items-center mb-3">
                <div class="col-4">Phòng ban:</div>
                <div class="col-8">@Model.Dep!.DepName</div>
            </div>
            <div class="row d-flex align-items-center mb-3">
                <div class="col-4">Tên đăng nhập:</div>
                <div class="col-8">@Model.Username</div>
            </div>
            <div class="row d-flex align-items-center mb-3">
                <div class="col-4">Quyền hệ thống:</div>
                <div class="col-8">@Model.SysRole!.SysRoleName</div>
            </div>
            <div class="row d-flex align-items-center mb-3">
                <div class="col-4">Quyền đăng ký ăn ca:</div>
                <div class="col-8">@Model.CompRole!.CompRoleName</div>
            </div>
            <div class="row d-flex align-items-center mb-3">
                <div class="col-4">
                    <a class="btn btn-link" id="btnToggle">Thay đổi mật khẩu</a>
                </div>
                <div class="col-8"></div>
            </div>
            <div id="passwordForm" style="display: none">
                <form class="d-flex flex-column justify-content-center" method="POST" asp-controller="Profile" asp-action="ChangePassword">
                    <div class="form-group">
                        <label for="oldPassword">Nhập mật khẩu hiện tại</label>
                        <input type="password" class="form-control" name="OldPassword" id="oldPassword" />
                    </div>
                    <div class="form-group">
                        <label for="newPassword">Nhập mật khẩu mới</label>
                        <input type="password" class="form-control" name="NewPassword" id="newPassword" />
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Nhập lại mật khẩu</label>
                        <input type="password" class="form-control" name="PasswordConfirm" id="confirmPassword" />
                    </div>
                    <p class="text-danger" id="confirmValidate"></p>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@if (ViewData["Error"] != null)
{
    <p class="text-danger pt-2">@ViewData["Error"]</p>
}

@section scripts {
    <script type="text/javascript">
        document.addEventListener("click", function (event) {
            if (event.target.id == "btnToggle") {
                var form = document.getElementById("passwordForm");
                if (form.style.display == "none") {
                    form.style.display = "block";
                } else if (form.style.display == "block") {
                    form.style.display = "none";
                }
            }

            if (event.target.id == "btnSubmit") {
                var oldPass = document.getElementById("oldPassword");
                var newPass = document.getElementById("newPassword");
                var confirmPass = document.getElementById("confirmPassword");
                if (newPass.value !== confirmPass.value) {
                    event.preventDefault();
                    document.getElementById("confirmValidate").innerHTML = "Mật khẩu nhập lại không trùng khớp.";
                }
                if (oldPass.value === "" || newPass.value === "" || confirmPass.value === "") {
                    event.preventDefault();
                    document.getElementById("confirmValidate").innerHTML = "Các trường không thể để trống.";
                }
            }
        });
    </script>
}