@{
    ViewData["Title"] = "Personal";
}

@model dynamic

@{
    int? uid = Context.Session.GetInt32("UserID");
    string? fullName = Context.Session.GetString("FullName");
    int? depID = Context.Session.GetInt32("DepID");
    string? depName = Context.Session.GetString("DepName");

    <div class="row justify-content-center">
        <div class="col-9 col-md-9 col-lg-6 mt-5">
            @if (Model != null)
            {
                <p class="h4">Đăng ký ăn cá nhân</p>
                <form class="d-flex flex-column justify-content-center" method="POST" asp-controller="Form" asp-action="PersonalSubmit">
                    <br />
                    <div class="form-group">
                        <label for="user" class="form-label">Họ tên: @fullName</label>
                        <input type="hidden" class="form-control" id="user" name="UserID" value="@uid">
                    </div>
                    <div class="form-group">
                        <label for="department" class="form-label">Phòng ban: @depName</label>
                        <input type="hidden" class="form-control" id="department" name="DepID" value="@depID">
                    </div>
                    @if (Model.Meals.Count > 0)
                    {
                        <div class="row mb-5">
                            <label for="bookedDate" class="col-form-label col-md-4 col-lg-3 col-xxl-2">Ngày đặt lịch</label>
                            <div class="col-md-8 col-lg-9 col-xxl-10">
                                <input type="date" class="form-control" id="bookedDate" name="BookedDate">
                            </div>
                        </div>
                        @foreach (var m in Model.Meals)
                        {
                            <div class="row mb-3">
                                <div class="form-check col-sm-2 col-md-4 col-lg-3 col-xxl-2">
                                    <input type="checkbox" class="form-check-input" id="@m.MealID" name="toggleCheck">
                                    <label for="@m.MealID" class="form-check-label">@m.MealName</label>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="@("Quantity" + m.MealID)" name="Quantity" disabled>
                                    <input type="hidden" class="form-control" id="@("MealID" + m.MealID)" name="MealID" value="@m.MealID" disabled>
                                    <input type="hidden" class="form-control" id="@("MealTime" + m.MealID)" name="MealTime" value="@m.Time">
                                </div>
                            </div>
                        }
                        <button type="submit" class="btn btn-primary">Submit</button>
                    }
                </form>
            }

            @if (ViewData["Error"] != null)
            {
                <p class="text-danger pt-2">@ViewData["Error"]</p>
            }
        </div>
    </div>
}

@if (Model != null)
{
    @section scripts {
        <script type="text/javascript">
            document.addEventListener("change", function (event) {
                if (event.target.name === "toggleCheck") {
                    var check = event.target;
                    toggle(check, check.checked);
                }

                if (event.target.name === "Quantity") {
                    event.target.value = event.target.value.replace(/\s/g, '');

                    if (event.target.value === "") {
                        event.target.value = 1;
                        alert("Ô số lượng không thể để trống.");
                    }
                    if (!event.target.value.match(/^([1-9][0-9]{0,1})$/)) {
                        event.target.value = 1;
                        alert("Xin hãy điền một số từ 1 đến 99, hoặc để giá trị mặc định.");
                    }
                }

                if (event.target.name === "BookedDate") {
                    var currentDate = "@Model.ServerDate";
                    var inputDate = new Date(new Date(event.target.value).toDateString());
                    if (Date.parse(inputDate) < Date.parse(currentDate)) {
                        event.target.value = currentDate.slice(0, 10);
                        checkTime(currentDate);
                        alert("Không thể đăng ký cho quá khứ.")
                    } else if (Date.parse(inputDate) == Date.parse(currentDate)) {
                        checkTime(currentDate);
                    } else {
                        for (var mc of document.getElementsByName("toggleCheck")) {
                            mc.disabled = false;
                        }
                    }

                    var existing = [];
                    @if (Model.Servings.Count > 0)
                    {
                        foreach (var s in Model.Servings)
                        {
                            <text>
                                existing.push({
                                    "Quantity": @s.Quantity,
                                    "BookedDate": "@s.BookedDate.ToString("yyyy-MM-dd")",
                                    "MealID": @s.MealID,
                                    "Meal": {
                                        "MealID": @s.MealID,
                                        "MealName": "@s.Meal.MealName",
                                        "Time": "@s.Meal.Time",
                                    },
                                    "UserID": @s.UserID,
                                });
                            </text>
                        }
                    }
                    if (existing.length > 0) {
                        for (var s of existing) {
                            var check = document.getElementById(s.MealID);
                            if (new Date(s.BookedDate).toISOString().slice(0, 10) == document.getElementById(event.target.id).value) {
                                check.checked = true;
                                toggle(check, true);
                                document.getElementById("Quantity" + s.MealID).value = s.Quantity;
                            } else {
                                check.checked = false;
                                toggle(check, false);
                            }
                        }
                    }
                }
            });

            document.addEventListener("DOMContentLoaded", function () {
                currentDate = "@Model.ServerDate";
                document.getElementById("bookedDate").value = currentDate.slice(0, 10);
                checkTime(currentDate);
            });

            function checkTime(currentDate) {
                for (var mc of document.getElementsByName("toggleCheck")) {
                    var timeString = document.getElementById("MealTime" + mc.id).value;
                    if (new Date(currentDate).getHours() > timeString.slice(0, 2)) {
                        mc.checked = false;
                        mc.disabled = true;
                    } else {
                        mc.disabled = false;
                    }
                }
            }

            function toggle(check, state) {
                var quantity = document.getElementById("Quantity" + check.id);
                var mealInput = document.getElementById("MealID" + check.id);

                if (state == true) {
                    quantity.disabled = false;
                    quantity.value = 1;
                    mealInput.disabled = false;
                } else {
                    quantity.value = "";
                    quantity.disabled = true;
                    mealInput.disabled = true;
                }
            }
        </script>
    }
}
